*{
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(213, 213, 213) 100%);
}

#header{
    width: 100vw;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,1);
    color: #424242;
}

#ver-bar{
    position:fixed;
    top: 50px;
    left: 0;
    width: 15vw;
    height: 90vh;
    background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(0,188,212,1) 100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 10px 0px 10px -8px #343434; 
    box-shadow: 10px 0px 10px -8px #343434;
    padding-top: 50px;
}

#board{
    margin-left: 25vw;
    margin-top: 5vh;
    width: 50vw;
    height: 80vh;
    background:transparent;
    border-radius: 15px;
    border: 4px solid #72bac4;
    overflow-y: auto;
    visibility: hidden;
}

.material-icons{
    color:#444444;
    font-size: 35px;
    /*transition: all 0.4s ease;*/
}

.ver-bar-card{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
    font-size: 1.1rem;
    color: #424242;
    font-weight: 500;
}

.ver-bar-card:hover{
    cursor: pointer;
    color: #444444c5;
}

/*.ver-bar-card:hover .material-icons{
    transform: rotate(90deg);
}*/

#quick-todos-card{
    border-bottom: 2px solid #9e9e9e;
    padding-bottom: 10px;
}

#project-todos-add-card{
    margin-top: 10px;
}

.project-todos-card{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
    font-size: 1.1rem;
    color: #424242;
    font-weight: 500;
    padding-left:20px;
}

.project-todos-card:hover{
    cursor: pointer;
    color:#444444c5;
}

#board-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 3px solid #3e868e;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #424242;
}

#board-header-add-icon{
    font-weight: 900;
}

#board-header-add-icon:hover{
    cursor: pointer;
    color: #444444c5;

}

#board-header-filter-icon{
    font-weight: 500;
}

#board-header-filter-icon:hover{
    cursor: pointer;
    color: #444444c5;
}

#filter-card span{
    margin-left: auto;
}

#board-infos{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    font-size: 1.1rem;
    color: #424242;
    font-weight: 600;
    margin-bottom: 20px;
}

.board-info{
    flex-basis: 20%;
    text-align: center;
}

.todo-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #424242;
}

#todo-title{
    overflow-y: auto;
}

.todo-card-remove-add-icons:hover{
    cursor: pointer;
    color: #444444c5;
}

#project-input{
    position: relative;
    display: none;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid #444444c5;
    left: 10px;
}

#project-name-input{
    font-family: 'Rubik', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #424242;
    width: 150px;
    overflow-y: auto;
}

#add-todo-card{
    position: absolute;
    /*top:100px;
    right: 500px;*/
    display: none;
    flex-direction: column;
    border: 2px solid #72bbc4c5;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.945);
    font-size: 0.9rem;
    font-weight: 500;
    color: #424242;
}

textarea{
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

form button{
    margin-top: 10px;
    height: 30px;
    background-color: #3e868e;
    border: none;
    border-radius: 5px;
}

form button .material-icons{
    font-size: 25px;
    color: whitesmoke;
}

form button:hover{
    cursor: pointer;
    background-color: #72bac4;
}

.form-cancel{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-cancel .material-icons{
    transform: rotate(45deg);
    font-size: 28px;
    color: #337077;
    transition: none;
}

.form-cancel .material-icons:hover{
    cursor: pointer;
    color: #337077b6;
}

#filter-cards{
    position:absolute;
    top: 100px;
    right: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid #72bbc4c5;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: rgba(245, 245, 245, 0.945);
    visibility: hidden;
}

.filter-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:#424242;
}

.filter-card:hover{
    cursor: pointer;
    color: #444444c5;
}

.filter-card .material-icons{
    font-size: 20px;
}

#priority-radios{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7rem;
    color: #424242;
}

#display-notes{
    position:absolute;
    top: 200px;
    right: 700px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #424242;
    padding: 10px;
    width: 200px;
    word-break:break-all;
    border: 2px solid #72bbc4c5;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.945);
    visibility: hidden;
}

.done-card{
    background-color: #42ea4221;
}

.project-todos-card .todo-card-remove-add-icons{
    font-size: 25px;
    margin-left: auto;
}
